<%= form_tag upload_preview_images_path, method: :post, multipart: true, remote: true, id: 'upload-image', class: 'hidden', data: {type: 'json'} do %>
  <div class="fields_container"></div>
<% end %>
