
.dtrt-camera-icon-grey {
  margin:13px 0 0 16px;
  display:inline-block;
  position:absolute;top:9;left:4px;
  width:16px;
  height:16px;
  background: url(http://dtrtmen.cafe24.com/web/img/crema/crema-photo-grey.png) no-repeat;
}
.dtrt-select-down {
  width:15px;
  height:8px;
  top:9px;
  right:0px;
  background: url(http://dtrtmen.cafe24.com/web/img/icons/form-select-arrow.png) no-repeat;
}