
.dtrt-camera-icon-grey {
  margin:13px 0 0 16px;
  display:inline-block;
  position:absolute;top:9;left:4px;
  width:16px;
  height:16px;
  background: url(http://dtrtmen.cafe24.com/web/img/crema/crema-photo-grey.png) no-repeat;
}
.dtrt-select-down {
  position:absolute;
  width:15px;
  height:8px;
  top:11px;
  right:0px;
  background: url(http://dtrtmen.cafe24.com/web/img/icons/form-select-arrow.png) no-repeat;
}
span.star{
  width:9px;
  height:9px;
  background: url(http://dtrtmen.cafe24.com/web/img/crema/crema-star-black.png) no-repeat;
}
span.star.star-empty{
  background: url(http://dtrtmen.cafe24.com/web/img/crema/crema-star-grey.png) no-repeat;
}