
.dtrt-camera-icon-grey {
  margin:13px 0 0 22px;
  display:inline-block;
  position:absolute;top:9;left:4px;
  width:16px;
  height:16px;
  background: url(http://dtrtmen.cafe24.com/web/img/crema/crema-photo-grey.png) no-repeat;
}