@import "../lib/common";
@import "compass/css3/transition";

$menu_height: 40px;
$menu_rpane_width: 352px;
$menu_rpane_width_focused: $menu_rpane_width + 78;

.menu {
  position: relative;
  border: 1px solid #e1e1e1;
  margin-top: 18px;
  margin-bottom: 33px;
  -webkit-box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.03);
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#f7f7f7', Direction=90, Strength=3);
  height: $menu_height;
  box-sizing: content-box;

  ul {
    height: $menu_height;
    line-height: $menu_height;
    @include clearfix;

    li {
      height: $menu_height;
    }

    &.lpane {
      @include transition(padding-right 0.3s);
      padding-right: $menu_rpane_width;
    }

    &.rpane {
      float: right;
      li {
        float: left;
      }
    }
  }

  li {
    @include inline-block;
    border-left: 1px solid #e1e1e1;
    padding: 0 15px;

    &:first-child {
      border-left: 0;
    }

    &.categories-container {
      position: relative;
      float: none;
      display: block;
      padding: 0;

      span {
        position: absolute;
        top: 0;
      }
    }

    &.sort-container {
      padding: 0;
      margin-right: 10px;
      @include font-default;

      .select2-chosen {
        font-size: 14px;
      }
    }

    &.group-container {
      padding: 0;
      width: 114px;

      &.selected {
        background: #3f3f3f;

        a {
          color: white;
        }
      }

      a {
        color: #b7b7b7;
        cursor: pointer;
        line-height: 51px;
        display: block;
        text-align: center;
      }
    }

    &.search-container {
      padding: 0;
      position: relative;

      .sprites-search {
        position: absolute;
        top: 50%;
        left: 17px;
        margin-top: -8px;
        font-size: 16px;
        vertical-align: middle;
        color: #7e7e7e;
      }

      .fa-times-circle {
        position: absolute;
        top: 50%;
        margin-top: -6px;
        right: 15px;
      }

      input {
        display: block;
        font-size: 12px;
        vertical-align: middle;
        padding: 18px 15px 18px 39px;
        height: 14px;
        width: 61px;
        -webkit-transition: width 0.3s;
        transition: width 0.3s;

        &.contain-keyword {
          width: 140px;
        }
      }

      a.remove-query, a:active {
        color: #7e7e7e;
      }

      a:hover {
        color: black;
      }
    }

    &.review_option_type {
      float: left;
      font-size: 14px;
      height: 40px;
      margin-left: 35px;
      position: relative;
      width: 174px;
      border-left: 0;
      background: white;
      padding: 0 23px;

      .sprites-dtrt-select-down {
        position: absolute;
        top: 14px;
        right: 18px;
      }

      .dropdown-menu {
        position: absolute;
        min-width: 80px;
        top: 41px;
        right: 0px;
        border: 1px solid rgb(225, 225, 225);
        text-align: center;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.027451) 0px 4px 4px;
        display: none;
        background: white;

        .review_option_search_values {
          padding: 10px 15px;

          .review_option_search_value {
            line-height: 20px;
            text-align: left;
            white-space: nowrap;
            border-left: 0;
          }
        }
      }
    }

    &.new-review {
      border-left: 0;
      line-height: 40px;
      background: #2c292a;
      color: white;
      width: 50px;
      font-size: 14px;
      margin-left: 11px;
      text-align: center;
    }
  }

  .select2-container#s2id_sort_type {
    font-size: 14px;
    @include inline-block;
    height: 26px;
    width: 91px;
    padding: 7px 19px;
    background: white;

    .select2-choice {
      position: relative;
      box-sizing: content-box;

      .sprites-dtrt-select-down {
        position: absolute;
        top: 7px;
        right: 0;
      }
    }
  }

  .select2-container#s2id_category {
    font-size: 14px;
    display: block;
    padding: 7px 19px;
    height: 25px;
    width: 150px;
    background: white;

    .sprites-dtrt-select-down {
      top: 7px;
      right: 0;
    }
  }

  .lpane {
    .message {
      padding: 10px 20px;
      line-height: $menu_height - 20;
      max-width: 100%;
      font-size: 13px;

      .inner {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &.query-focused, &.contain-keyword {
    ul {
      &.lpane {
        padding-right: $menu_rpane_width_focused;
      }
    }

    li.search-container input {
      width: 140px;
    }
  }
}
