@import "../../lib/common";

$score_height: 101px;

body.products.score {
  height: $score_height;

  .title {
    font-size: 10px;
    padding: 7px;
    font-family: $font-default;
    text-align: left;
  }

  .lcontent {
    position: absolute;
    top: 0;
    left: 0;
    width: 117px;
    height: $score_height;
    color: #5d5d5d;;
    text-align: center;
    border-right: 1px solid #ddd;

    .title {
      padding-bottom: 3px;
    }

    .score {
      font-size: 44px;
      font-family: $font-default;
    }

    .star {
      font-size: 12px;
    }
  }

  .rcontent {
    border: 1px solid #ddd;
    padding-left: 116px;

    .title {
      color: #5d5d5d;
      white-space: nowrap;
    }

    .inner {
      position: relative;
      height: 99px;
      padding: 0 5px;
    }

    .no-reviews {
      height: 32px;
      font-size: 11px;
      border: 1px solid #ebebeb;
      text-align: center;
      padding: 18px 0;
      color: #bcbcbc;
      display: block;

      strong {
        display: block;
        font-size: 16px;
        font-weight: bold;
        font-family: $font-default;
        margin-bottom: 5px;
        color: #3c3c3c;
      }
    }

    ul.photos {
      padding: 4px 0 0 10px;
      width: 315px;
      font-size: 0;
      margin-left: -4px;
      @include clearfix;

      li.photo {
        width: 57px;
        height: 57px;
        float: left;
        margin-left: 4px;

        &.photo-placeholder {
          background: #ededed;
        }
      }
    }
  }

  .summary {
    width: 117px;

    .average {
      .title {
        font-size: 10px;
        line-height: 12px;
        vertical-align: top;
        padding: 6px 0 0 8px;
        text-align: left;
        color: #e1e1e1;
      }

      .value {
        font-size: 38px;
        line-height: 42px;
        text-align: right;
        padding: 0 16px 10px 10px;
      }
    }
  }
}