<% if review.likes_count != 0 || review.plus_likes_count != 0 %>
  <div class="review-like-info">
    이 리뷰에 대해<br><strong><%= review.likes_count %></strong>명 중 <strong><%= review.plus_likes_count %></strong>명이 도움이 된다 선택 했습니다
  </div>
<% else %>
  <div class="review-like-info">
    이 리뷰에 대해<br>아직 도움이 된다고 평가한 사람이 없습니다.
  </div>
<% end %>